
body{
    font-family: "Inter", sans-serif;
    background: url(img/background.png);
    margin: 0;
    height: 200vh;
    overflow-x: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center top;
}

header{
    position: relative;
    background-color: rgba(26, 26, 26, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    width: 100%;    
}

header > h2{
    padding: 0 2%;
}

h2, a{
    color: rgba(255, 255, 255, 0.836);
    text-decoration: none; 
}

#WhatsApp:hover{
    margin: 1px;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    color: rgb(67, 220, 91);
}

#linkdln:hover{
    margin: 1px;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    color: rgb(1, 98, 148);
    
}

#git:hover{
    margin: 1px;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    color: rgba(29, 29, 29, 0.781);
    
}

#insta:hover{
    color: rgb(202, 61, 146);
    margin: 1px;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.textHeader{
    position: relative;
    display: inline-block;
}

.textHeader::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background-color: rgb(255, 255, 255, 0.836);
    transform: scale(1.1);
    transition:  0.3s ease;
}

.textHeader:hover::after{
    width: 100%;
}

img{
    width: 400px;
    height: auto;
    pointer-events: visible;
    transition: .2s;
}

section{
    display: flex;
    align-items: center;
    gap: 20px;
}

#cardAbout{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 350px;
    margin-right: 250px;
    margin-left: auto;
    color: white;
    border-radius: 6px 6px 4px;
    box-shadow: 2px 2px 8px black;
    background-color: rgba(22, 21, 21, 0.822);
}

h1{
    position: relative;
    text-align: justify;
    margin-left: 10px;
}

p{
    position: relative;
    text-align: center;
    font-size: 15px;
    margin-top: 70px;
}

footer{
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
    color: #ffffff;
    position: fixed;
    bottom: 0;
}

#perfil{
    background-color: rgba(22, 21, 21, 0.822);
    width: 600px;
    height: 400px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 6px 6px 4px;
    box-shadow: 2px 2px 8px black;
    color: #ffffff;
}

footer:hover[
    
]